table {
  width: 100%;
}

.zone-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-height {
  height: 30px
}

.mat-elevation-z8 {
  width: 100%;
  margin: auto;
}

table .zone-input {
  width: 90%;
  margin-top: 10%;
}

.edit-btn {
  color: blue;
}

.save-btn {
  color: green;
}
