table {
  width: 100%;
}

.mat-elevation-z8 {
  width: 90%;
  margin: auto;
}

.filter {
  width: 25%;
  margin-left: 65%;
  margin-right: 10%;
}

.trace-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-height {
  height: 30px
}
